.link {
    height: fit-content;
    color: var(--color-light);
    text-decoration: underline;
    cursor: pointer;

    &:hover {}

    &:focus-visible {
        outline: 1px dashed var(--color-light);
        outline-offset: 2px;
    }
}