.link {
    height: fit-content;
    color: var(--color-primary-700);
    &:hover {
        text-decoration: underline;
    }
    &:focus-visible {
       outline: 1px dashed var(--color-primary-700);
        outline-offset: 2px;
    }
}