.link {
    height: fit-content;
    color: var(--color-white);
    text-decoration: underline;
    cursor: pointer;
    width: fit-content;

    &:hover {}

    &:focus-visible {
        outline: 1px dashed var(--color-white);
        outline-offset: 2px;
    }
}